---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.author-info-page {
  .page__content {
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 2.5rem 0;
  }
}
