/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  border-bottom: 1px solid $border-color;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include clearfix;
    margin-inline: auto;
    padding: 1em;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $max-width;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.site-logo img {
  max-height: 2rem;
}

.site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: bold;
  // z-index: 20;
}

.site-subtitle {
  display: block;
  font-size: $type-size-8;
}

.masthead__menu {
  float: inline-start;
  margin-inline: 0;
  width: 100%;
  clear: both;

  .site-nav {
    margin-inline-start: 0;

    @include breakpoint($small) {
      float: inline-end;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-inline-end: 2em;
    font-weight: 700;
  }
}

.masthead__menu-item--author-info {
  white-space: normal;
  max-width: 24rem;
  padding-inline-start: 1rem;
  margin-inline-start: 0.5rem;
  line-height: 1.3;
  font-size: $type-size-6;
  border-inline-start: 1px solid mix(#000, $border-color, 15%);

  .masthead__author-details {
    margin: 0;
  }

  .masthead__author-label {
    cursor: pointer;
    font-weight: 700;
    color: $masthead-link-color;

    &::-webkit-details-marker {
      display: none;
    }

    &::marker {
      display: none;
    }

    &:focus {
      outline: 2px solid $focus-outline-color;
      outline-offset: 2px;
    }
  }

  .masthead__author-name {
    margin-top: 0.15rem;
    font-weight: 600;
  }

  .masthead__author-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.35rem;
    color: $muted-text-color;

    i {
      color: $masthead-link-color;
    }
  }

  .masthead__author-bio {
    margin-top: 0.25rem;
    color: $muted-text-color;
  }
}
